*{
    margin: 0;
    padding: 0;
    overflow-y: none;
    font-family: 'Gugi', cursive;
}
a{
    text-decoration: none;
    color: white;
}
header{
    top: 0;
    z-index: 1;
    display: flex;
    position: sticky;
    align-items: center;
    background-size: contain;
    font-family: 'Tangerine', cursive;
    color: white;
    height: 3vw;
    background-image: url(../resources/giphs/header-giph.gif);
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: 50% 100%;
    background-position-x: 45%;
    background-repeat: no-repeat;
    background-image: url(../resources/title-background.png);
}
h2 {
    margin-bottom: 0.8vw;
}
.accounts-container{
    font-size: 1.2em;
    position: absolute;
    margin-right: 1.5vw;
    right: 0;
}
.login{
    margin-right: .5vw;
}
.login, .signup{
    display: inline-flex;
    text-decoration: none;
    background-color: black;
    color: rgb(216, 217, 219);
    padding: .30vw;
    border-radius: 7px;
    border: 1.5px solid rgb(114, 130, 137);
    transition: all 300ms ease-in-out;
}
.signup:hover, .login:hover {
    transform: scale(105%);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 32);
    cursor: pointer;
}
.find-players::selection {
    .find-group {
        display: none;
    }
}.find-group::selection {
    .find-players {
        display: none;
    }
}