*{
    margin: 0;
    padding: 0;
    overflow-y: none;
    font-family: 'Gugi', cursive;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    background-size: contain;
    font-family: 'Tangerine', cursive;
    color: white;
    height: 3vw;
    background-image: url(../resources/giphs/header-giph.gif);
}
.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: 50% 100%;
    background-position-x: 45%;
    background-repeat: no-repeat;
    background-image: url(../resources/title-background.png);
}
h2 {
    margin-bottom: 0.8vw;
}
.accounts_container{
    font-size: 1.2em;
    position: absolute;
    margin-right: 1.5vw;
    right: 0;
}
.login{
    margin-right: .5vw;
}
.login, .signup{
    display: inline-flex;
    text-decoration: none;
    background-color: black;
    color: rgb(216, 217, 219);
    padding: .30vw;
    border-radius: 7px;
    border: 1.5px solid rgb(114, 130, 137);
    transition: all 300ms ease-in-out;
}
.signup:hover, .login:hover {
    transform: scale(105%);
    background-color: white;
    color: rgb(8, 8, 32);
    cursor: pointer;
}
main{
    padding-bottom: 3vw;
    background-image: url(../resources/background.jpg);
    background-size: 45.5%;
}
.section_title{
    padding-top: 1vw;
    text-align: center;
    margin-bottom: 1vw;
    color: rgb(205, 205, 205);
}
.games {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1vw;
    justify-content: space-evenly;
    border-radius: 25px;
    background-image: url(../resources/background02.png);
}
img{
    height: 177px;
    width: 317px;
    display: flex;
    transition: all 400ms ease-in-out;
}
img:hover{
    transform: scale(105%);
}
.games article img {
    border-radius: 5px;
}
p{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: .5vw;
}
#lol, #valorant, #gta, #genshin, #counter, #minecraft, #fortnite, #warzone, #wow, #overwatch, #dota{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    margin-top: 6vh;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 1.25rem;
    justify-content: center;
    flex-basis: calc(33.33% - 10px);
}
@media only screen and (min-width:1600px){
    #lol, #valorant, #gta, #genshin, #counter, #minecraft, #fortnite, #warzone, #wow, #overwatch, #dota{
        flex-basis: calc(25% - 5px)
    }
}
.footer{
    position: relative;
    padding: 1vw 0 1vw 0;
    background-color: rgb(22, 22, 22);
}
footer p{
    margin-top: 0;
    align-items: center;
}
footer a{
    position: relative;
    display: inline-flex;
    text-decoration: none;
    color: rgb(150, 223, 247);
    left: 12.5px;

}
footer img{
    position: relative;
    height: 25px;
    width: 25px;
    left: 5px;
    opacity: 77%;
}
footer p:nth-child(2){
    margin-top: .25vw;
}