*{
    margin: 0;
    padding: 0;
    font-family: 'Gugi', cursive;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    background-image: url(../resources/giphs/header-giph.gif);
    background-size: contain;
    color: white;
    font-family: 'Tangerine', cursive;
    height: 3vw;
}
.title_container {
    background-image: url(../resources/title-background.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0 auto;
}

h2 {
    margin-bottom: 0.8vw;
}

@keyframes {

}
.accounts_container{
    margin-right: 1.5vw;
    font-size: 1.2em;
    position: absolute;
    right: 0;
}
.login{
    margin-right: .5vw;
}
.login, .signup{
    display: inline-flex;
    text-decoration: none;
    color: rgb(216, 217, 219);
    background-color: black;
    padding: .30vw;
    border-radius: 7px;
    border: 1.5px solid rgb(114, 130, 137);
    transition: all 300ms ease-in-out;
}
.signup:hover, .login:hover {
    transform: scale(105%);
    background-color: white;
    color: rgb(8, 8, 32);
    cursor: pointer;
}
main{
    background-image: url(../resources/background.jpg);
    /* background-size: 100%; */
}
.section_title{
    padding-top: 4vh;
    text-align: center;
    color: rgb(205, 205, 205);
}
.games {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-top: 1vw; 
    justify-content: space-evenly;
    background-image: url(../resources/background02.png);
    border-radius: 25px;
}
.background{
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 80%;
    z-index: -1;
}
img{
    height: 177px;
    width: 317px;
    display: flex;
    transition: all 600ms ease-in-out;
}

img:hover{
    transform: scale(105%);
}

.games article img {
    border-radius: 15px;
}


p{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}
#lol, #valorant, #gta, #genshin, #counter, #minecraft, #fortnite{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    margin-top: 8vh;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 1.25rem;
    justify-content: center;
    flex-basis: calc(33.33% - 10px);
}
@media only screen and (min-width:1600px){
    #lol, #valorant, #gta, #genshin, #counter, #minecraft, #fortnite{
        flex-basis: calc(25% - 5px)
    }
}
/* #lol{
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/21779-188x250.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */